<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Cucumber Advanced Reporting" />

    <link rel="shortcut icon" href="images/logo-small.ico"/>
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>Cucumber Reports - {{page.title}}</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/mkolisnyk/cucumber-reports">View on GitHub</a>
			<table style="border:0px solid black;"><tr><td width="20%" valign=center style="border:0 none black;box-shadow:0 0 0px #ebebeb;-webkit-box-shadow:0 0 0px #ebebeb;-moz-box-shadow:0 0 0px #ebebeb;-o-box-shadow: 0 0 0px #ebebeb;-ms-box-shadow:0 0 0px #ebebeb;vertical-align:bottom;">
			<a href="http://mkolisnyk.github.io/cucumber-reports"><img src="images/logo_small.png" width="128" style="border:0 none black;box-shadow:0 0 0px #ebebeb;-webkit-box-shadow:0 0 0px #ebebeb;-moz-box-shadow:0 0 0px #ebebeb;-o-box-shadow: 0 0 0px #ebebeb;-ms-box-shadow:0 0 0px #ebebeb;vertical-align:bottom;" /></a>
			</td>
			<td style="border:0 none black;box-shadow:0 0 0px #ebebeb;-webkit-box-shadow:0 0 0px #ebebeb;-moz-box-shadow:0 0 0px #ebebeb;-o-box-shadow: 0 0 0px #ebebeb;-ms-box-shadow:0 0 0px #ebebeb;vertical-align:bottom;"><h1 id="project_title">Cucumber Reports</h1>
          <h2 id="project_tagline">{{page.title}}</h2>
</td></tr></table>
            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/mkolisnyk/cucumber-reports/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/mkolisnyk/cucumber-reports/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>
	<center>
	<table border=0 width="100%">
	<tr>
	<td>
    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
{{content}} 
      </section>
    </div>
	  </td>
<td valign="top" width="20%">
	<div class="outer" id="main_content_wrap" >
		<section class="inner">
		<h1>News</h1>
		<p>
		<iframe src="/cucumber-reports/news" height="400px" />
		</p>
		</section>
	</div>
	</td>
	  </tr></table>
	</center>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Aerial maintained by <a href="https://github.com/mkolisnyk">mkolisnyk</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    

  </body>
</html>
